.cart-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.cart-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.cart-content {
  display: flex;
  gap: 20px;
}

.cart-items {
  flex: 2;
}

.cart-items table {
  width: 100%;
  border-collapse: collapse;
}

.cart-items th,
.cart-items td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.order-summary {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.order-summary h2 {
  margin-bottom: 20px;
}

.order-summary p,
.order-summary h3 {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.empty-cart {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.empty-cart p {
  font-size: 18px;
  margin-bottom: 20px;
}

.empty-cart-icon {
  font-size: 50px;
  color:rgb(196, 131, 99);
  margin-bottom: 20px;
}

.browse-menu-btn {
  padding: 10px 20px;
  background-color: #c49b63;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.browse-menu-btn:hover {
  background-color: #a47b50;
}
