/* src/pages/Signup/Signup.css */
.signup-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #c49b63;
  }
  
  .signup-form .input-group {
    margin-bottom: 20px;
  }
  
  .signup-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .signup-form input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .signup-btn {
    width: 100%;
    padding: 12px;
    background-color: #c49b63;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signup-btn:hover {
    background-color: #a47b50;
  }
  